
<div class="container">
  <div class="jumbotron" style="margin-bottom: 0;">
   <div class="row">
     <div class="col-6 col-md-4">
       <form>
         <div class="form-group">
           <mat-form-field>
             <mat-label>Type tour</mat-label>
             <mat-select [(value)]="selected">
               <mat-option *ngFor="let food of foods" [value]="food.value">
                 {{food.viewValue}}
               </mat-option>
             </mat-select>
           </mat-form-field>
<!--           <mat-form-field appearance="outline">-->
<!--             <mat-label>Type tour</mat-label>-->
<!--             <input matInput placeholder="Placeholder">-->
<!--           </mat-form-field>-->
         </div>
         <div class="form-group">
           <mat-form-field>
             <mat-label>Year</mat-label>
             <mat-select value="1">
               <mat-option *ngFor="let year of years" [value]="year.value">
                 {{year.viewValue}}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </div>

<!--         <div class="form-group">-->
<!--           <label for="exampleInputPassword1">Password</label>-->
<!--           <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--         </div>-->
<!--         <div class="form-group form-check">-->
<!--           <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--           <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--         </div>-->
<!--         <button type="submit" class="btn btn-primary">Submit</button>-->
       </form>
     </div>
   </div>
  </div>
  <div class="panel panel-primary">

  <div class="panel-body">
    <mat-tab-group [selectedIndex]="9">
      <mat-tab label="Jan" disabled> working  </mat-tab>
      <mat-tab label="Feb" disabled> working</mat-tab>
      <mat-tab label="Mar" disabled> working</mat-tab>
      <mat-tab label="Apr" disabled> working </mat-tab>
      <mat-tab label="May" disabled> working</mat-tab>
      <mat-tab label="Jun" disabled> Content 3 </mat-tab>
      <mat-tab label="Jul" disabled> Content 3 </mat-tab>
      <mat-tab label="Ago" disabled> Content 3 </mat-tab>
      <mat-tab label="Sep" disabled > Content 3 </mat-tab>
      <mat-tab label="Oct" aria-selected="true"><app-month></app-month></mat-tab>
      <mat-tab label="Nov"> <app-month></app-month> </mat-tab>
      <mat-tab label="Dic"> <app-month></app-month> </mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>
