<div class="wrapper fixed__footer">
  <app-header ></app-header>
  <div class="body__overlay"></div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<!--<div class="container">-->
<!--  <div class="jumbotron">-->
<!--    <h1>Welcome</h1>-->
<!--    <h2>Angular & Bootstrap Demo</h2>-->
<!--  </div>  <div class="panel panel-primary">-->
<!--  <div class="panel-heading">Status</div>-->
<!--  <div class="panel-body">-->
<!--    <h3>titulo aqui</h3>-->
<!--    <h3>Raised Buttons</h3>-->
<!--    <div class="example-button-row">-->
<!--      <button mat-raised-button>Basic</button>-->
<!--      <button mat-raised-button color="primary">Primary</button>-->
<!--      <button mat-raised-button color="accent">Accent</button>-->
<!--      <button mat-raised-button color="warn">Warn</button>-->
<!--      <button mat-raised-button disabled>Disabled</button>-->
<!--      <a mat-raised-button routerLink=".">Link</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
