<div class="jumbotron">
  <div class="content-section implementation">
    <p-table [columns]="cols" [value]="cars" dataKey="code">
      <ng-template pTemplate="header" let-columns class="thead-dark">
        <tr >
          <th *ngFor="let col of columns; let i = index"  style="width: 3em"  >
            {{col.header}}
          </th>
          <th style="width: 3em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>

          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <a href="#" [pRowToggler]="rowData" style="font-size: 0.5rem">
              <!--              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>-->
              {{expanded ? 'HIDEN' : 'SHOW'}}
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" [@rowExpansionTrigger]="'active'">
              <div class="ui-g-12 ui-md-3" style="text-align:center">
                IMG
              </div>
              <div class="ui-g-12 ui-md-9">
                <div class="ui-g">
                  <div class="ui-g-12" style="alignment: center">
                    <b>Vin:</b> {{rowData.itinerario}}
                  </div>
                  <div class="ui-g-12" style="alignment: center">
                    <b>Year:</b> {{rowData.available}}
                  </div>
                  <div class="ui-g-12" style="alignment: center">
                    <b>Brand:</b> {{rowData.hold}}
                  </div>
                  <div class="ui-g-12" style="alignment: center">
                    <b>Color:</b> {{rowData.conf}}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>
