<mat-nav-list>
  <a href="#" mat-list-item ><!--(click)="openLink($event)"-->
    <span mat-line style="color: #5ab500">Generar bloqueo</span>
<!--    <span mat-line>Add to a note</span>-->
  </a>

  <a href="#" mat-list-item ><!--(click)="openLink($event)"-->
    <span mat-line>Maintenance Spaces</span>
<!--    <span mat-line>Embed in a document</span>-->
  </a>

  <a href="#" mat-list-item ><!--(click)="openLink($event)"-->
    <span mat-line>Administrar Tarifas</span>
<!--    <span mat-line>Share with your friends</span>-->
  </a>

  <a href="#" mat-list-item ><!--(click)="openLink($event)"-->
    <span mat-line>Generate departure</span>
  </a>
</mat-nav-list>
