<mat-list>
  <mat-list-item>Permision</mat-list-item>
  <mat-divider></mat-divider>
<div class="container">
  <div class="row">
    <div class="col-sm">

      <mat-card><mat-icon>person_add</mat-icon> Usuarios</mat-card>

    </div>
    <div class="col-sm">
      <mat-card><mat-icon>verified_user</mat-icon> Roles</mat-card>

    </div>
    <div class="col-sm">
      <mat-card><mat-icon>pan_tool</mat-icon> Permisos Páginas</mat-card>

    </div>
  </div>

</div>
  <mat-list-item>General Information</mat-list-item>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="row">
      <div class="col-sm">

        <mat-card><mat-icon>assignment</mat-icon> Reports</mat-card>

      </div>
      <div class="col-sm">
        <mat-card>Admin Catalog</mat-card>

      </div>
      <div class="col-sm">
        <mat-card><mat-icon>attachment</mat-icon>anything </mat-card>
      </div>
    </div>

  </div>
  <mat-list-item>C R O N</mat-list-item>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4"> <mat-card><mat-icon>settings</mat-icon>Settings</mat-card> </div>

    </div>

  </div>
</mat-list>
